<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>P A R A S I T E S</title>
<link rel="icon" 
      type="image/png" 
      href="/static/img/favicon.png">

<script src="/static/pixi.min.js"></script>
<script src="/static/input.js"></script>
</head>
<style>
body {
    background-color: #000;
}
</style>
<body>

<script type="text/javascript">

var renderer = new PIXI.CanvasRenderer(screen.width, screen.height, {
    transparent:true
});
document.body.appendChild(renderer.view);

var stage = new PIXI.Container();

var texture = PIXI.Texture.fromImage('/static/img/favicon.png');

var snake = new PIXI.Sprite(texture);

snake.anchor.x = 0.5;
snake.anchor.y = 0.5;

snake.position.x = 200;
snake.position.y = 150;

snake.vx = 0;
snake.vy = 0;

stage.addChild(snake);

animate();
function animate() {
    requestAnimationFrame(animate);

    controls(snake);

    renderer.render(stage);
}

</script>
<script src="/static/kaleidoscope.js"></script>
</body>