<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>P A R A S I T E S</title>
<link rel="icon" 
      type="image/png" 
      href="/static/img/favicon.png">

<script src="/static/pixi.min.js"></script>
<script src="/static/input.js"></script>
</head>
<style>
body {
    background-color: #000;
}
</style>
<body>
<script type="text/javascript">
  var renderer = PIXI.autoDetectRenderer(screen.width, screen.height,{backgroundColor : "black"});
document.body.appendChild(renderer.view);

// create the root of the scene graph
var stage = new PIXI.Container();

// create a texture from an image path
var texture = PIXI.Texture.fromImage('/static/img/favicon.png');

// create a new Sprite using the texture
var bunny = new PIXI.Sprite(texture);

// center the sprite's anchor point
bunny.anchor.x = 0.5;
bunny.anchor.y = 0.5;

// move the sprite to the center of the screen
bunny.position.x = 200;
bunny.position.y = 150;

bunny.vx = 0;
bunny.vy = 0;

stage.addChild(bunny);

// start animating
animate();
function animate() {
    requestAnimationFrame(animate);

    bunny.x += bunny.vx;
    bunny.y += bunny.vy;

    if (bunny.position.x < 0) {
        bunny.position.x = screen.width;
    }

    if (bunny.position.x > screen.width) {
        bunny.position.x = 0;
    }

    if (bunny.position.y < 0) {
        bunny.position.y = screen.height;
    }

    if (bunny.position.y > screen.height) {
        bunny.position.y = 0;
    }
    // render the container
    renderer.render(stage);
}

</script>
</body>